.credentials-banner {
    background-image: url("../imgs/bannerimg.jpg") !important;
}
.credentials-banner::before {
    background-color: rgba(54, 54, 54, 0.199) !important;
}
.credentials__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.credentials__items > img {
    width: 80%;
    opacity: 0.8;
    transition: all 300ms ease;
}

.credentials__items > img:hover {
    transform: scale(1.1);
    opacity: 1;
}