* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;
}

h2 {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1px;
}

h3 {
    font-size: 25px;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.alt-section {
    background-color: rgb(245, 244, 244);
}

banner {
   
    text-align: center;
    margin: auto;
}

.banner-container {
    position: relative;
    margin: auto;
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
    background-image: url("../imgs/bannerimg2.jpg");
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
}

.banner-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(54, 54, 54, 0.8);
}

.banner-content {
    position: relative;
    text-align: center;
    max-width: 1280px;
    margin: auto auto;
    padding-top: 300px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 200px;
    text-transform: uppercase;
    font-size: 50px;
    color: white;
}

.banner-content h1 {
    position: relative;
    text-align: center;
    max-width: 1280px;
    margin: auto auto;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    color: white;
}

.banner-contact-btn {
    font-size: 22px;
    padding: 16px 32px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color: #d13848;
    border: none;
    cursor: pointer;
    box-shadow: 0 9px #9a1825;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s ease;
}

.banner-contact-btn:hover {
    background-color: #BE1E2D;
}

.banner-contact-btn:active {
    background-color: rgb(31, 52, 53);
    box-shadow: 0 5px rgb(44, 50, 51);
    transform: translateY(4px);
}

/* #our-purpose, #save-time {
    max-width: 1280px;
    margin: 0 auto;
} */
.section-content {
    max-width: 1280px;
    margin: 0 auto;
}

.section-text {
    margin-right: 100px;
    margin-left: 100px;
}

.section-title {
    padding-bottom: 40px;
    text-align: center;
    
}

.section-synopsis {
    font-size: 20px;
    line-height: 30px;
}

.connections {
    display: flex;
    justify-content: space-evenly;
}

.connection-card {
    text-align: center;
    background-color: rgb(246, 243, 243);
    border: solid 1px rgb(239, 236, 236);
    padding: 20px 15px;
    border-radius: 25px;
    box-shadow: 0 0 55px rgb(191, 191, 191);
    transition: 0.4s ease;
    width: 20%;
    margin: auto 0;
}

.connection-card:hover {
    transform: scale(1.1);
}

.connection-name {
    padding-top: 15px;
    margin: 0 4px;
    font-size: 18px;
    user-select: none;
}

.connection-logo {
    width: 70%;
    object-fit: cover;
}

.bot-row-connections {
    padding-top: 60px;
}

@media (max-width: 768px) {
    .section-content {
        width: 100%;
    }
    .section-text {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
    .banner-content {
        overflow-x: hidden;
    }
    .copyright-menu {
        position: absolute;
        bottom: 0;
    }
    .connections {
        display: block;
        margin-right: 30px;
        margin-left: 30px;
    }
    .bot-row-connections {
        padding-top: 0 !important;
    }
    .connection-card {
        margin: 40px;
        width: fit-content;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');